body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

#container {
    height: 80vh;
    width: 60vw;
}

#canvas {
    height: 100%;
    width: 100%;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 600px) {

    #container {
        height: 55vh;
        width: 80vw;
    }
}