body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

#container {
    height: 80vh;
    width: 60vw;
}

#canvas {
    height: 100%;
    width: 100%;
    border: 4.5px solid white;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 5px 1px white;
}

@media screen and (max-width: 600px) {

    #container {
        height: 55vh;
        width: 80vw;
    }
}